@page
@model dotnet_web.Pages.AboutModel
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<section id="main">
    <h1 style="text-align:center">Jazmin Celestino</h1>
    <p>
        Hello! My name is Jazmin Celestino, and I graduated from Cal State University of Northridge with a Bachelor of Science in Computer Information Technology. 
        I've worked with HTML, JavaScript, CSS, and Angular throughout my field of study. I'm also familiar with a variety of operating systems, including Windows, Mac OS, and Linux.
        I've also learned new skills in my internship at PennyMac such as GitLab, Azure DevOps, Stacker, AWS CloudFormation, and Infrastructure-as-Code. Detail-oriented, problem-solving, 
        and communication abilities are some of the qualities I will contribute to my future workplace. When faced with a new situation, I'm a quick learner. 
        My professional ambitions are to work as a Junior DevOps engineer and earn multiple certifications. I want to work for a firm where I can develop and use new skills while also
        contributing to the company's growth.
    </p>
</section>
